/* 
    color1: #1693a5
    color2: #45b5c4
    color3: #7ececa
    color4: #a0ded6
    color5: #c7ede8
*/


*{
    border: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;;
}

html, body{
    height: 100%;
    background: rgb(22,147,165);
    background: linear-gradient(150deg, rgba(22,147,165,1) 0%, rgba(199,237,232,1) 100%) !important;
    height: 1220px;
}


body{
    padding-top: 40px;
}

.verde{
    color: #079a7d;
}

.selector{
    height: 50px !important;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}


#boton-empezar{
    height: 50px !important;
    font-size: 1em;
    background-color: #7ececa;
    color: white !important;
}

.contenedor-generico{
    background: rgb(22,147,165);
    background: linear-gradient(150deg, rgba(22,147,165,1) 50%, rgba(199,237,232,1) 100%);
    box-shadow: 10px 10px 38px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 38px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px 2px rgba(0,0,0,0.75);
}


#contenedor-cotizaciones ul li {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    border-top: 3px solid #1693a5;
    border-bottom: 3px solid #1693a5;
}

#contenedor-principal{
    padding-bottom: 100px;
}

#contenedor-secundario{
    padding: 50px !important;
    position: relative;
}

#siguiente{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 40%;
    color: #1693a5;
}

#atras{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 40%;
    color: #1693a5;
}



/* -------------------- MEDIA QUERYS ----------------------------------  */

@media (max-width: 1024px) {
    #contenedor-principal{
        width: 80% !important;
    }

    #contenedor-secundario{
        width: 40% !important;
    }
}

@media (max-width: 768px) {
    #contenedor-principal{
        width: 85% !important;
    }

    #contenedor-secundario{
        width: 70% !important;
    }

    #contenedor-secundario ul {
        margin-right: 30px !important;
    }

    #contenedor-cotizaciones {
        width: 80% !important;
    }
}

@media (max-width: 440px) {
    #boton-empezar{
        padding-bottom: 55px;
    }
    #contenedor-cotizaciones {
        width: 100% !important;
    }

    #contenedor-cotizaciones ul{
        margin-right: 20px;
    }
    #contenedor-cotizaciones ul li{
        padding: 5px;
    }
    #contenedor-cotizaciones ul li h2{
        font-size: 20px !important;
    }

    #contenedor-cotizaciones ul li p {
        font-size: 15px !important;
    }
}

